body{
    margin:0;
    font-family:"Yu Gothic",sans-serif;
    background:#f5fff5;
    color:#333;
}

header{
    background:linear-gradient(90deg,#2e7d32,#66bb6a);
    color:white;
    text-align:center;
    padding:30px;
}

h1{
    margin:0;
    font-size:3em;
}

.card{
    background:white;
    width:80%;
    max-width:900px;
    margin:20px auto;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

img{
    width:100%;
    border-radius:10px;
}

h2{
    color:#2e7d32;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#66bb6a;
    color:white;
}

th,td{
    border:1px solid #ccc;
    padding:10px;
    text-align:center;
}

.buttons{
    text-align:center;
    margin:30px;
}

button{
    background:#e53935;
    color:white;
    border:none;
    padding:15px 25px;
    margin:10px;
    font-size:16px;
    border-radius:30px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.1);
}
